html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {

  margin-bottom: 60px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:2rem;
}

.left-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:Helvetica;
    font-size:x-large;

}

.right-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

img {
    width: 400px;
    height: 500px;
}

