@{
    ViewData["Title"] = "It's Me!";
    
}
<body>
    <div class="main-container">

        <div class="left-container">


            <p class="about-text">
                <b>Name</b><br />
                Edmund Lecter Garraton<br/><br/>

                <b>Age</b><br/>
                21<br /><br />

                <b>Email</b><br/>
                edmundlecter.garraton.cics@ust.edu.ph<br /><br/>

                <b>Course</b><br/>
                Information Technology<br/><br/>
            </p>


        </div>

        <div class="right-container">
            <img src="~/images/aboutmepic.png" />
        </div>





    </div>





</body>